<ion-content padding>

  <h1>Login</h1>

  <form [formGroup]="loginGroup">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="error"
        *ngIf="!loginGroup.get('email').valid &&
        (loginGroup.get('email').dirty || submitAttempt)"> 
        <small>Please enter a valid email.</small>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item class="error"
        *ngIf="!loginGroup.get('password').valid &&
        (loginGroup.get('password').dirty || submitAttempt)"> 
        <small>Please enter a valid password.</small>
      </ion-item>
    </ion-list>
  </form> 

  <div padding>
    <button ion-button block (click)="login()">Login</button>
  </div>

</ion-content>
